
@* <div class="chart-container">
    <h1>Hello</h1>
    <canvas id="salesChart"></canvas>
</div> *@
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" onclick="LoadPartialView(1)" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Day</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" onclick="LoadPartialView(2)" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Week</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" onclick="LoadPartialView(3)" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Month</button>
    </li>

</ul>
<div id="showTable"></div>
<script>
    // document.addEventListener('DOMContentLoaded', () => {
    //     var ctx = document.getElementById('salesChart').getContext('2d');
    //     var salesData = @Html.Raw(Json.Serialize(Model));

    //     new Chart(ctx, {
    //         type: 'line',
    //         data: {
    //             labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
    //             datasets: [{
    //                 label: 'Monthly Sales',
    //                 data: salesData,
    //                 borderColor: 'rgba(75, 192, 192, 1)',
    //                 borderWidth: 2,
    //                 fill: false
    //             }]
    //         },
    //         options: {
    //             responsive: true,
    //             scales: {
    //                 yAxes: [{
    //                     ticks: {
    //                         beginAtZero: true
    //                     }
    //                 }]
    //             }
    //         }
    //     });
    // });
    // document.addEventListener('DOMContentLoaded', () => {
    //     var ctx = document.getElementById('salesChart').getContext('2d');
    //     var salesData = @Html.Raw(Json.Serialize(Model));

    //     new Chart(ctx, {
    //         type: 'line',
    //         data: {
    //             labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
    //             datasets: [{
    //                 label: 'Monthly Sales',
    //                 data: salesData,
    //                 borderColor: 'rgba(75, 192, 192, 1)',
    //                 borderWidth: 2,
    //                 fill: false
    //             }]
    //         },
    //         options: {
    //             responsive: true,
    //             scales: {
    //                 yAxes: [{
    //                     ticks: {
    //                         beginAtZero: true
    //                     }
    //                 }]
    //             }
    //         }
    //     });
    // });
    $(document).ready(function () {

        LoadPartialView(1);
    });
    function LoadPartialView(id) {
        
        $.ajax({
            url: '/Home/ChartGraph',
            method: 'GET',

            data: {
                id:id
            },
            success: function (response) {

                $('#showTable').html(response);

            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
    }

    

    // document.addEventListener('DOMContentLoaded', () => {
    //     fetch('/Home/GetSalesChartData')
    //         .then(response => response.json())
    //         .then(data => {
    //             var ctx = document.getElementById('salesChart').getContext('2d');
    //             new Chart(ctx, {
    //                 type: 'line',
    //                 data: data,
    //                 options: {
    //                     responsive: true,
    //                     scales: {
    //                         yAxes: [{
    //                             ticks: {
    //                                 beginAtZero: true
    //                             }
    //                         }]
    //                     }
    //                 }
    //             }
    //                 });
    // }
    // });
</script>

