@model ExpenseTrackerEntity.ViewModel.HomeVM;

<style>
    div.scrollable-primary-35 {
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 0.5rem;
        margin: 0.25rem 0;
        scrollbar-width: thin;
        scrollbar-color: var(--bs-primary) rgba(var(--bs-primary-rgb), 0.2);
    }
       
</style>
<div id="hello" class="comments-container scrollable-primary-35 mt-2 border-bottom border-primary" >
    <table id="myTable" class="table my-5">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Amount</th>

                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
          
            @{
                double pageCount = Model.PageCount;
                double itemsPerPage = Model.ItemsPerPage; 
                var totalPages = Math.Ceiling(pageCount / itemsPerPage);   
            }
            <tr id="before">
                <td><p class="fs-5">Total</p></td>
                <td colspan="4"><p id="total" class="fs-5"></p></td>
            </tr>
        </tbody>
    </table>
            
        
    
</div>
  <div id="sum"></div>
<script>
    var number = 2;
    var ulElement = document.getElementById('hello'); 
   
    ulElement.addEventListener('scroll', function () {
        if (ulElement.scrollTop + ulElement.offsetHeight == ulElement.scrollHeight) {
            if (number <= @totalPages) 
            {
                LazyLoading(number);
                number++;
            }
            
        }
    });
    $(document).ready(function () {

        LazyLoading(1);
    });
    function LazyLoading(number) 
    {
        var categoryId = document.getElementById('dropdown').value;
        var itemsPerPage = document.getElementById('pageDropdown').value;
        var search = document.getElementById('search').value;
        document.getElementById('spinner').classList.remove('d-none');
        $.ajax({
            url: '/Home/ExpenseTableWithLazyLoading',
            method: 'GET',

            data: {
                categoryId: categoryId,
                currentPage: number,
                ItemsPerPage: itemsPerPage,
                OrderByDate:false,
                OrderByAmount:false,
                search:search,
            },
           
            success: function (response) {

                setTimeout(() => {

                    document.getElementById('spinner').classList.add('d-none');
                    var content = "";
                    for (const item of response.expenses) {
                        var beforeTr = document.getElementById('before');
                        var newRow = document.createElement('tr');
                        beforeTr.parentNode.insertBefore(newRow, beforeTr);                       
                        var newCell1 = newRow.insertCell();
                        newCell1.innerHTML = `${item.name}`;

                        var newCell2 = newRow.insertCell();
                        newCell2.innerHTML = `${item.amount}`;

                        var newCell3 = newRow.insertCell();
                        newCell3.innerHTML = `${item.createdDate}`;

                        var newCell4 = newRow.insertCell();
                        newCell4.innerHTML = `<div class="d-flex">
                            <button type = "button" onclick = "OpenModal(${item.expenseId})" class="btn btn-outline-primary d-lg-block d-none mx-1" > Edit </button>
                                    <button class="btn btn-success btn-sm rounded-0 d-lg-none d-block mx-1" type = "button"> <i onclick = "OpenModal(${item.ExpenseId})" class="fa fa-edit"> </i></button>
                                    <a onclick="DeleteModal(${item.expenseId})" class="btn btn-outline-danger mx-1 d-lg-block d-none">Delete</a>
                                            <button class="btn btn-danger btn-sm rounded-0 d-lg-none mx-1 d-block" type = "button"> <i onclick="DeleteModal(${item.ExpenseId})" class="fa fa-trash"></i></button>
                                            </div>`
                    }
                  
                }, 1000);
               
               
                document.getElementById('total').innerHTML = `${response.sum}`;

            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
    }
</script>


