@{
    Layout = "_Layout2";
}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" onclick="LoadPartialView(1)" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Day</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" onclick="LoadPartialView(2)" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Week</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" onclick="LoadPartialView(3)" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Month</button>
    </li>

</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md mx-5 my-5">
            <div id="showTable" ></div>
        </div>
        <div class="col-lg-5 col-md mx-5 my-5">
            <div id="showTable2" ></div>
        </div>
        
    </div>
    <div >
    <div class="my-5">
        <div id="showTable3"></div>
    </div>
</div>
    <div class="d-flex justify-content-center align-items-center">
<button onclick="DownloadPdf()" class="btn btn-outline-primary">Download Pdf</button>
    </div>
    </div>
<script>
    
    $(document).ready(function () {

        LoadPartialView(1);
        LoadPartialView2(1);
    });
    function LoadPartialView(id) {
        
        $.ajax({
            url: '/Report/ChartGraph',
            method: 'GET',

            data: {
                id:id
            },
            success: function (response) {

                $('#showTable').html(response);

            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
        LoadPartialView2(id);
        LoadPartialView3(id);
    }
    function LoadPartialView2(id) {
        $.ajax({
            url: '/Report/PieGraph',
            method: 'GET',

            data: {
                id: id
            },
            success: function (response) {

                $('#showTable2').html(response);

            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
    }
    function LoadPartialView3(id) {
        $.ajax({
            url: '/Report/BarGraph',
            method: 'GET',

            data: {
                id: id
            },
            success: function (response) {

                $('#showTable3').html(response);

            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
    }
    function DownloadPdf() {
        var canvas = document.getElementById('salesChart');
        var canvas2 = document.getElementById('pieChart');
        var dataURL = canvas.toDataURL();
        var dataURL2 = canvas.toDataURL();


        $.ajax({
            url: '/Report/SaveChartImages',
            method: 'POST',

            data: {
                dataURL:dataURL,
                dataURL2:dataURL2,
            },
            success: function (response) {

                

            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });

    }

</script>

