<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

</head>
<body>
    <div id="spinner" class="d-none d-flex justify-content-center align-items-center" style="position:fixed; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.4);">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    @* <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link fs-3" asp-action="Index" asp-controller="Home">Expense Tracker</a>
                </li>
                <li class="nav-item d-flex justify-content-center align-items-center">
                    <a class="nav-link fs-5" href="#">My Profile</a>
                </li>
                
            </ul>
            
                <a asp-action="LogOut" asp-controller="Home" class="btn btn-outline-success my-2 mx-2 my-sm-0" type="button">LogOut</a>
           
        </div>
    </nav> *@
    <div class="d-flex justify-content-between flex-column">
    <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-3" asp-action="Index" asp-controller="Expense">Expense Tracker</a>
                    </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a class="nav-link fs-5" asp-action="SplitExpense" asp-controller="Expense">Split Expense</a>
                            </li>
                    <li class="nav-item d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5" asp-action="MyProfile" asp-controller="Expense">My Profile</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-items-center">
                        <a class="nav-link fs-5" asp-action="Categories" asp-controller="Category">My Categories</a>
                    </li>
                            <li class="nav-item d-flex justify-content-center align-items-center">
                                <a class="nav-link fs-5" asp-action="Chart" asp-controller="Expense">My Trends</a>
                            </li>
                </ul>
                <a asp-action="LogOut" asp-controller="Expense" class="btn btn-outline-danger my-2 mx-2 my-sm-0" type="button">LogOut</a>
                      @*   <div class="dropdown dropstart">
                            <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true" ></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Log Out</a></li>
                              
                            </ul>
                        </div> *@
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>