@model ExpenseTrackerEntity.ViewModel.CategoryVM;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}
@if (TempData["success"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success("@TempData["success"]");
    </script>
}
@if (TempData["error"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error("@TempData["error"]");
    </script>
}
<div class="container my-3">
    <div class="row">

        <button type="button" class="btn btn-outline-success my-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add a Category
        </button>
        <div>
            <input id="search" type="search" class="form-control w-25" onchange="pagination(1)" placeholder="Search by name">
        </div>
      <div id="showTable" class="shadow my-3 bg-white"></div>
        <div class="d-flex justify-content-end">
            <select onchange="pagination(1,false,false)" id="pageDropdown"  aria-label="Default select example">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>



            </select>
        </div>
    </div>

</div>


<div id="showmodal"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center">
                <p class="fs-2">Create a Category</p>
            </div>
            <form onsubmit="return validateForm()" method="post" asp-action="CreateCategory" class="mx-1 mx-md-4 p-4">



                <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                        <input asp-for="CategoryName" type="text" id="form3Example3c" class="form-control" />
                        <label class="form-label" for="form3Example3c">Enter your category name</label><br />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    function OpenModal(id) {

        $('#showmodal').load('/Category/ShowEditCategoryModal/' + id, () => {
            const modal = new bootstrap.Modal(document.getElementById('category'));
            modal.show();
        });
    }

    function validateForm() {

        if (!$('#myform').valid()) {
            return false;
        }
        return true;
    }
    $(document).ready(function () {

        pagination(1);
    });
    function pagination(number) {

        var itemsPerPage = document.getElementById('pageDropdown').value;
        var serach = document.getElementById('search').value;
        if (number == 0) {
            number = $('#number').text();
        }
        $.ajax({
            url: '/Category/CategoryTable',
            method: 'GET',

            data: {
      
                currentPage: number,
                itemsPerPage: itemsPerPage,
                search: serach
            },
            success: function (response) {
                $('#showTable').html(response);
                $('#number').html(number);
            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
    }
    function Increament(totalpages) {
        var a = $('#number').text();
        var b = parseInt(a);
        b = b + 1;
        if (b <= totalpages) {
            pagination(b);
        }
    }
    function Decreament() {
        var a = $('#number').text();
        var b = parseInt(a);
        b = b - 1;
        if (b > 0) {
            pagination(b);
        }
    }

</script>